.primarycolor{
    background-color:indianred;
}
.card-img-top {
    width: 100%;
    height: auto; /* Isso deixa a altura da imagem flexível */
}
.custom-carousel img {
    object-fit: cover;
    height: 100%;
}
.navbar{
    background-color: #decaaf;
}
.grifado {
    color: red; /* Define a cor do texto como vermelho */
    font-weight: bold; /* Deixa o texto em negrito */
    text-decoration: underline; /* Adiciona o sublinhado */
}